nav{
  width:100%;
  height: 25%;
  padding-top:0.5%;
  margin: 7% 0 -2% 0;
}
.nav-img{
    position: absolute;
    width: 72px;
    height:70px;
    margin: -4% 0 0 5%;
}
.nav-menu{
  float:right;
  margin: -3% 0 -0.3% 70%;
  position: absolute
}
.nav-menu a{
  text-decoration: none;
  margin: 7px;
  color: #000;
  opacity: 0.5;
}
.nav-menu a:hover{
    opacity: 1;
    text-decoration: none;
  }
.heading{
  font-family: arial;
  font-size: 50px;
  text-align:center;
  margin:50px 120px 0 120px;
}
.heading .previous{
  color:#000;
  float: left;
  font-size: 45px;
}
.heading .next{
  color:#000;
  float: right;
  font-size: 45px;
}
.under-line{
    width: 100%;
}
.under-line hr{
    width:50px;
}
.reaction{
    width: 100%;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    float:center;
    margin-bottom:40px;
    color: #999;
    /*padding-left: 515px;
    padding-top: -50px;*/
}
.reaction a{
    opacity: 0.6; 
}
.reaction a{
    text-decoration: 
}
.reaction a:hover{
    opacity: 1;
}
.point1{
  margin:20px 10px 20px 20px;
}
.point2{
  margin:20px 30px 20px 10px;
}
.share-icon{
  height: 40px;
  width: 33px;
  position: absolute;
  margin:-2.5% 0 0 6%;
}
p{
    margin: 0 120px 0 120px;
    font-size: 16px;
    line-height: 33px;
    text-align: left;
}
img{
  height:40%;
  width:40%;
  margin: 10px 15px 10px 120px;
  float: left;
}
.bottom-reaction{
    width: 80%;
    height:50px;
    font-family: arial;
    font-size: 11px;
    padding-left: 0px;
    padding-top: 10px;
    /*margin:0 120px 0 13*/
    margin: 40px 120px 0 120px;
}
.bottom-reaction .platform{
  float: left;
}
.bottom-reaction .platform a{
  color: #777;
}
.bottom-reaction .reaction-dup{
  float:right;
}
.bottom-reaction .reaction-dup a:hover{
  color:#00f;
}
.bottom-reaction .platform div{
  background-color: #ccc;
  width: 60px;
  height: 25px;
  border-radius:5px;
  margin:2px;
  padding-top: 3px;
  float: left;
}
.comment-section{
  float:center;
  margin-top: 5%;
}
.comment-section input{
  border-radius:10px;
  height:40px;
  width:600px;
  padding:10px;
  font-size: 14px;
  }
.main-input{
  position: absolute;
  height:50px;
  width:700px;
  margin: -110px 0 0 -345px;
  }
.comment-section button{
  background-color:rgba(0,0,200,0.3);
  position: absolute;
  margin: -110px 0 0 372px;
  border-radius:8px;
  border-style: inset;
  border-bottom-style: none;
  border-right-style: none;
  border-style: inset;
  height:2.2%;
  width:8%;
  font-size: 14px;
  background-color: #99ffff;
}
.comment-section button:hover{
  background-color:rgba(0,100,200,0.3);
}
.comm-number{
  height: 80px;
  width: 120px;
  margin: 160px 0 0 120px;
  font-size: 20px;
  text-align: left;
}
.comm-hr{
  width: 80px;
  position: absolute;
  margin: -40px 0 0 120px;
}
.comm-hr hr{
  border: 0.5px solid #ccc;
}
.comm-avatar{
  position: absolute;
  width: 60px;
  height: 60px;
  margin: -110px 0 0 -430px;
}
.avatar1{
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 20px 0 0 -440px;
}
.comm1{
  width:370px;
  height:80px;
  position: absolute;
  margin: 20px 0 0 -380px;
}
.comment1{
  position: absolute;
  width:800px;
  height: 50px;
  margin: 33px 0 0 100px;
}
.comment1 p{
  font-size: 12px;
  line-height: 19px;
  color:#888;
}
.comment1 p b{
  color:#555;
}
.avatar2{
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 130px 0 0 400px;
}
.comm2{
  width:330px;
  height:50px;
  position: absolute;
  transform: scaleX(1);
  margin: 130px 0 0 65px;
}
.comment2{
  position: absolute;
  width:800px;
  height: 50px;
  margin: 135px 0 0 520px;
}
.comment2 p{
  font-size: 12px;
  line-height: 19px;
  color:#888;
}
.comment2 p b{
  color:#555;
}
.avatar3{
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 190px 0 0 -440px;
}
.comm3{
  width:300px;
  height:50px;
  position: absolute;
  margin: 190px 0 0 -380px;
}
.comment3{
  position: absolute;
  width:800px;
  height: 50px;
  margin: 200px 0 0 100px;
}
.comment3 p{
  font-size: 12px;
  line-height: 19px;
  color:#888;
}
.comment3 p b{
  color:#555;
}
.avatar4{
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 250px 0 0 -440px;
}
.comm4{
  width:300px;
  height:50px;
  position: absolute;
  margin: 250px 0 0 -380px;
}
.comment4{
  position: absolute;
  width:800px;
  height: 50px;
  margin: 255px 0 0 100px;
}
.comment4 p{
  font-size: 12px;
  line-height: 19px;
  color:#888;
}
.comment4 p b{
  color:#555;
}
.avatar5{
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 300px 0 0 400px;
}
.comm5{
  width:330px;
  height:50px;
  position: absolute;
  margin: 300px 0 0 65px;
}
.comment5{
  position: absolute;
  width:800px;
  height: 50px;
  margin: 306px 0 0 520px;
}
.comment5 p{
  font-size: 12px;
  line-height: 19px;
  color:#888;
}
.comment5 p b{
  color:#555;
}
.avatar6{
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 370px 0 0 -440px;
}
.comm6{
  width:300px;
  height:50px;
  position: absolute;
  margin: 370px 0 0 -380px;
}
.comment6{
  position: absolute;
  width:800px;
  height: 50px;
  margin: 376px 0 0 100px;
}
.comment6 p{
  font-size: 12px;
  line-height: 19px;
  color:#888;
}
.comment6 p b{
  color:#555;
}
.bottom-nav{
    background-color: #000;
    height: 40%;
    width: 100%;
    color: #fff;
}
.bottom-hr{
  width: 100%;
  margin-top: 50%;
}
.bottom-hr hr{
border: 1px solid #f4f4f4;
}
.bottom{
  width: 100%;
  text-align:center;
  margin:50px 120px 0 120px;
}
.bottom .previous{
  color:#000;
  float: left;
  font-size: 45px;
}
.bottom .next{
  color:#000;
  float: right;
  font-size: 45px;
}
.bottom-pre{
  width: 200px;
  height: 50px;
  font-size: 15px;
  position: absolute;
  margin: 2780px 0 0 150px;
}
.bottom-pre a{
  color:#333;
  text-decoration: none;
}
.bottom-pre a:hover{
  text-decoration: none;
}
.bottom-nex{
  width: 200px;
  height: 50px;
  font-size: 15px;
  position: absolute;
  text-align: right;
  margin: 2780px 0 0 790px;
}
.bottom-nex a{
  color:#333;
  text-decoration: none;
}
.bottom-nex a:hover{
  text-decoration: none;
}
.bottom-pre b{
  font-size: 18px;
}
.bottom-nex b{
  font-size: 18px;
}
.bottom-nav{
  width: 100%;
  padding: 60px 70px 60px 90px;
  background-color: #f4f4f4;
  margin-top: 60px;
}
.bottom-nav .twi{
  width: 20px;
  height: 20px;
  float: right;
  
}
.bottom-nav .twi img{
  width: 20px;
  height: 20px;
  margin: 0 0 0 -130px;
}
.bottom-nav .fac{
  width: 20px;
  height: 20px;
  float: right;
}
.bottom-nav .fac img{
  width: 20px;
  height: 20px;
  margin: 0 0 0 -65px;
}
.bottom-nav .inst{
  width: 20px;
  height: 20px;
  float: right;
}
.bottom-nav .inst img{
  width: 20px;
  height: 20px;
  margin: 0 0 0 -70px;
}
.bottom-nav .dribb{
  width: 20px;
  height: 20px;
  float: right;
}
.bottom-nav .dribb img{
  width: 20px;
  height: 20px;
  margin: 0 0 0 40px;
}
.copyright{
  float: left;
  font-size: 12px;
  color:#333;
}
.note{
  position: absolute;
  margin: 23px 0 0 0;
  float: left;
  color:#999;
  font-size: 12px;
}