body{
    margin: 0;
}
.wrapper{
    width: 100%;
    height: 600px;
    background-image: url("https://i.imgur.com/eHkJQeg.png");
    background-size: 100% 100%;
}
header{
    width: 100%;
    height: 50px;
}
nav{
    height: 80px;
    background-color: rgba(7, 49, 7, 0.5);
}
.nav-content{
    width: 900px;
    height: 80px;
    margin:0 auto;
}
.nav-content .logo{
    position: absolute;
    width: 70px;
    height: 80px;
}
.nav-content .caption{
    position: absolute;
    color: #B6BCC8;
    margin: 20px 0 0 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.navigation-link{
    float: right;
    font-size: 14px;
    padding-top: 27px;
}
a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.navigation-space{
    margin-right: 14px;
}
.hero {
    font-family: 'Open Sans', sans-serif;
    width: 850px;
    height: 200px;
    margin: 0 auto;
    margin-top: 65px;
    line-height: 35px;
    color: #fff;
    font-size: 25px;
}
.wrapper-middle{
    background-size: 100% 100%;
    height: 600px;
    padding: 30px 30px 0 30px;
    text-align: left;
}
.wrapper-middle .a{
    width: 945px;
    height: 100px;
    margin:0 auto;
    margin-top: 180px;
    font-size: 25px;
    line-height: 38px;
    font-family: 'Open Sans', sans-serif;
}
.footer{
    /* background-color: rgb(17, 46, 17); */
    /* background-color: #183b03; */
    height: 400px;
    background-color: #17230bff;
    padding-top: 60px;
}
.footer-content{
    width: 70%;
    margin:0 auto;
    height: 400px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 27px;
}
.footer .footer-content .first-colon{
    width: 49%;
    height: 200px;
    color: #fff;
    float: left;
    
}
.footer .footer-content .second-colon{
    width: 45%;
    height: 300px;
    color: #fff;
    float: right;
    margin-right: 15px;
}
.social-platform{
    width: 200px;
    height: 50px;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: -50px;
}
